$darkblue: #003556;
$hovergrey: #9d9d9d;

body {
	font-family: 'Lato', sans-serif;
	font-size:14px;
	line-height: 20px;
	color:#1a1a1a;
}

.maincontent {
    margin-top: 50px;
}

#choices-container, #itinerary-container {
    background-color: #376B9E;
    background: rgba(223, 224, 230, 0.8);
    // background: rgba(56, 134, 203, 0.6);
    // border:1px solid #377CB8;
    // border-radius: 2px;
    // padding: 15px;
    box-shadow: 2px 3px 18px -3px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
    .box-header {
    	background-color:$darkblue;
    	color:#fff;
    	padding:1px 10px;
    	h1 { 
    		font-size: 30px;
    		margin:10px 0px; 
    	}
    }
    .inner { padding:15px 15px 30px; }
    ol {
        list-style-type: none;
        margin:0px;
        padding:0px;
        li:first-child h3 {
        	margin-top:5px;
        }
        .form-control {
        	width: calc(100% - 55px);
        	display: inline-block;
        	margin-right:10px;
        }
    }
}

#itinerary-container { margin-bottom: 0px; }
#itinerary-container .inner { padding-bottom:15px; }

#map { position:absolute; top:0; left:0; right:0; bottom: 0; min-height: 962px; }

#choices-container-row .col-md-4 {
	position: absolute;
	top:70px;
	left:20px;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color:#fff;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color: $hovergrey;
}

.navbar.navbar-inverse {
	background-color:$darkblue;
	.navbar-brand {
		color: #fff;
	}
}

.nav-pills { margin-bottom: 20px; }

.nav-pills>li>a { 
	background-color:transparent; 
	color:#1a1a1a;
	font-size: 17px;
	border-radius: 0px;
}
.nav-pills>li>a:hover, .nav-pills>li>a:focus {
	background-color:transparent; 
	border-bottom: 5px solid $hovergrey;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	border-bottom: 5px solid #fff;
	background-color:transparent;
	color:#1a1a1a;
}

.glyphicon { font-size:14px;}

.btn-default {
	background-color:transparent;
	border:0px; 
}

.btn-default:hover {
	color:#7F7F7F;
	background-color:transparent;
}

// .btn-default:focus { -webkit-outline: none; border:none; }

.tab-pane ul { 
	list-style:none;
	margin:0px;
	padding:0px 0px 0px 10px;
	li {
		position:relative;
		margin-bottom:10px;
		font-size: 16px;
		.glyphicon {
			position: absolute;
			right:20px;
		}
	}
}

.alignright {
	text-align: right;
	// padding-right: 20px;
	padding-right: 9px;
}

hr { margin-bottom:14px; }
