html {
	background-color:blue;
}

.map {
	// height: 100%;
	background-color: #FF0000;
}

.maincontent {
	margin-top: 50px;
}

#choices-container {
	background-color: #CCB48D;
	ol {
		list-style-type: none;
	}
}